<div id="main-todo-content">
    <label id="todo-main-label">Todo List</label>
    <section>
        <input id="todo-text-entry" type="text" placeholder="Type your todo item here...."/>
    </section>

    <section id="todo-items">
        <div id="todo-display">
            <ul id="todo-items-list">

            </ul>
        </div>
    </section>
</div>