

<div class="container" id="todoapp-main-container"></div>

<script type="text/javascript">
  window.router = new Todoapp.Routers.TodoAppRouter();
    window.location.hash = '/home';
    Backbone.history.start();

</script>